In [1]:
import pandas as pd

In [12]:
df = pd.read_table("/mnt/d/Personal/travel_reviews/travel_places_india.txt", names=['places'])

/home/mangy007/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [13]:
df.head()

                                 places
0          Goa – The Official Party Hub
1  Mcleodganj – Heaven Amidst The Hills
2         Srinagar – The Gem Of Kashmir
3             Andaman – The Beach Haven
4     Leh-Ladakh – The Biker’s Paradise

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 1 columns):
places    71 non-null object
dtypes: object(1)
memory usage: 648.0+ bytes

In [19]:
df['places_details'] = df['places'].apply(lambda x: x.split(" – ")[1])
df['places'] = df['places'].apply(lambda x: x.split(" – ")[0])

In [20]:
df.head()

       places           places_details
0         Goa   The Official Party Hub
1  Mcleodganj  Heaven Amidst The Hills
2    Srinagar       The Gem Of Kashmir
3     Andaman          The Beach Haven
4  Leh-Ladakh     The Biker’s Paradise

In [21]:
df.to_csv('./travel_places.csv', index=False)